* {
    margin: 0;
    padding: 0;
  }

#board {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#board > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

}

#board :nth-child(2), :nth-child(5), :nth-child(8) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#board :nth-child(4), :nth-child(5), :nth-child(6) {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}